{
  "presets": [
    "react",
    [ "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": ["es2015", "react", "react-optimize", "es2015-native-modules", "stage-0"]
    }
  }
}
